.navbar-toggler{
  margin-left: auto;
}

.desain_footer{
  position: absolute;
  margin-top: 5%;
  left: 0;
  overflow:hidden;
  line-height: 60px;
  background-color: #000;
  text-align:center;
  padding:10px;
  height: 50px;
  width: 100%;
  color: rgb(128, 128, 128);
}

.jumbotron{
  background: url('https://picsum.photos/1440/420?image=0') no-repeat center center scroll;
}

#header{
  color: snow;
  font-weight: 600;
  background-color: black;
  opacity: 0.6;
  padding-bottom: 20px;
}
.display-3{
  font-weight: 400;
}
.card{
  padding: 30px;
}

.card {
    /* background: rgba(51, 51, 51, 0.1); */
    margin-top: 1rem;
    padding: 2rem;
}

.flex-container {
    /*outline: auto;*/
    height: rem;
    padding: 1rem;
}
