{% load static %}

<style>
#space-logout {
  color: white;
}
</style>

<!-- Nav -->
<nav id="menu">
  <ul class="links">
    <li><a href="index.html">Home</a></li>
    <li><a href="generic.html">Generic</a></li>
    <li><a href="elements.html">Elements</a></li>
  </ul>
</nav>
</div>

<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
  <a class="navbar-brand" href="/">TP2UYAY</a>
  <button class="navbar-toggler pull-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="margin-left: auto">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/profile/">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/forum/">Forum</a>
      </li>
    </ul>
    <ul class="nav navbar-nav nav-right pull-right" id="space-logout">
      {% if flag %}
        <a class="btn btn-secondary" href="{% url 'login:logout' %}">Logout</a>
      {% endif %}
    </ul>
    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->
  </div>
  <div class="nav-background transition"></div>
</nav>
